<div class="w-full grid place-items-center">
  <div class="py-6 px-6 lg:px-8">
    <h3 class="mb-4 text-xl font-medium text-gray-900 text-center">
      Zona
    </h3>
    <form class="space-y-6" action="#" [formGroup]="form" #frmCategoria ="ngForm" (ngSubmit)="operar()">
      <div [hidden]="true">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
          >Id</label
        >
        <input
          type="id"
          name="id"
          id="id"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Id"
          required
          formControlName="id"
        />
      </div>

      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
          >Descripción</label
        >
        <input
          type="email"
          name="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Zona"
          required
          formControlName="descripcion"
        />
      </div>

      <button
        type="submit"
        class="w-full text-white disabled:opacity-75  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        [disabled]="frmCategoria.invalid"
      >
        <h1>Añadir Zona</h1>
      </button>
      <button
      type="button"
      class="w-full text-white disabled:opacity-75  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      routerLink="/zona"
    >
      Cancelar
    </button>
    </form>
  </div>
</div>
